:root {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, img {
  display: block;
}

li {
  list-style: none;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
  border: 2px solid green;
}

.title {
  color: white;
  text-align: center;
}

.title_h1 {
  line-height: 72px;
}

.hero {
  background: #303263;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(48, 50, 99, 0.67)), color-stop(0%, #303263), color-stop(46%, rgba(0, 0, 0, 0.462623))), url(../img/hero-bj.png);
  background-image: linear-gradient(0deg, rgba(48, 50, 99, 0.67) 0%, #303263 0%, rgba(0, 0, 0, 0.462623) 46%), url(../img/hero-bj.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 810px;
  padding: 70px 75px 0;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-content__title {
  margin-bottom: 25px;
}

.hero-content__descr {
  text-align: center;
  margin-bottom: 55px;
  color: white;
  line-height: 36px;
  max-width: 835px;
}

.achivments-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.achivment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 20px;
  width: 255px;
  height: 160px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: relative;
  margin-right: 60px;
}

.achivment:last-child {
  margin-right: 0;
}

.achivment::before, .achivment::after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: calc((100% - 50px) / 2);
  top: 0;
}

.achivment::before {
  left: 0;
}

.achivment::after {
  right: 0;
}

.achivment__icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 28px;
}

.achivment__value {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.achivment__descr {
  font-size: .75rem;
}

.menu {
  height: 100px;
}

.menu__list {
  color: grey;
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */