.hero {
    background: rgb(48,50,99);
    background-image:
        linear-gradient(0deg, rgba(48,50,99,0.67) 0%, rgba(48,50,99,1) 0%, rgba(0,0,0,0.46262254901960786) 46%),
        url(../img/hero-bj.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.hero-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 810px;
    padding: 70px 75px 0;
}

.hero-content {
    @include flex(center, center, column);
    &__title {
        margin-bottom: 25px;
    }
    &__descr {
        text-align: center;
        margin-bottom: 55px;
        color: white;
        line-height: 36px;
        max-width: 835px;
    }
}

@import "./achivments"
